[Unit]
Description=Prometheus Node Exporter
Documentation=https://github.com/prometheus/node_exporter
After=network-online.target

[Service]
User=root
ExecStart=/bin/sh -c '/opt/node_exporter/node_exporter'
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
