Include /etc/ssh/sshd_config.d/*.conf
Port 1312
LoginGraceTime 0
PermitRootLogin no
PubkeyAuthentication yes
PasswordAuthentication no
ChallengeResponseAuthentication no
KbdInteractiveAuthentication no
UsePAM no
X11Forwarding yes
PrintMotd yes
AcceptEnv LANG LC_*
Subsystem sftp	/usr/lib/openssh/sftp-server
