[Unit]
Description=Sunshine self-hosted game stream host for Moonlight.
StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Restart=always
RestartSec=5s
ExecStartPre=/bin/sleep 10
ExecStart=/usr/bin/sunshine

[Install]
WantedBy=default.target
